@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none;}
img {vertical-align: top;}
body {font-family:"Malgun Gothic","Dotum",sans-serif;}
html{font-size: 14px;}


@media (min-width: 700px) {
    html { font-size: 80%; }
}

@media (min-width: 1100px) {
    html { font-size: 95%; }
}

@media (min-width: 1200px) {
    html { font-size: 100%; }
}


/* --------------------------PC 버젼 ----------------------------*/
@media screen and (min-width:860px){

    /* header */
    div#firstTop { 
        width: 90%; height: 30px; 
        text-align: right; line-height: 30px; 
        font-size: 14px;  margin: 0 auto;
    }

    div#firstTop a{padding-left: 15px; color: #333333;}

    div#firstTop a img{display: none;}

    /* 고정 메뉴바 */
    nav{
        position: sticky; top: 0;  
        width: 100%; height: 70px; 
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9999; border-bottom: 1px solid rgb(207, 207, 207);
    }

    nav>div{width:90%; margin: 0 auto; overflow: hidden;} 

    nav ul{ width:79%; padding-top: 10px;}

    nav ul#menuList>li{
        float:left; 
        line-height: 44px;
        width: 13%;
    }
    nav ul#menuList>li:nth-child(2){width:193px;}

    nav ul li a h2{
        color: #161616; 
        font-weight: bold; 
        font-size: 1.4rem; 
        transition: all ease 0.3s;
        padding-bottom: 7px;
    }
    nav ul li a h2:hover{color: #f37021;}

    ul ul.sub{display:none; width:130px;}

    ul ul.sub li a{
        background-color: rgba(0, 0, 0, 0.223);
        width: 100%;
        display: inline-block;
        color: white; 
        padding-left: 5px; 
        font-size: 1rem;
        transition: all ease 0.5s;
    }

    ul ul.sub li a:hover{color: white; background-color: #ff6600a6;}

    nav ul li a h1 img{width: 170px;}

    nav ul#menuList li:hover ul.sub{display:block;}

    ul li#menubar{display: none;}
    /* 후원버튼 */
    nav #sponsorButton{ 
        float: right;
        transition: all ease 0.3s; 
        border-radius: 150px; width: 150px; height: 38px; 
        color:#ff9900; 
        background-color: white;
        line-height: 39px; 
        font-size: 15px; 
        text-align: center; 
        border: 2px solid #ff9900; 
        outline: 0;
        margin-top: 5px;
    }

    nav #sponsorButton:hover{background-color: #ff9900; color: white;} 




    /* -----------------------footer------------------------  */
    footer{
        width: 100%; height: auto; 
        border-top: 1px solid rgb(207, 207, 207);
    } 

    div#bottom{
        width: 90%; height: 280px; 
        margin: 40px auto; 
    }

    div.footerDetail{float: left;}

    div#fast div{float: left; width: 105px;}

    div#fast div#fast_right{width: 179px;}

    /* info */
    div#companyInfo{
        width: 26%; height:auto;
        padding-left: 4%;
    }
    div#companyInfo img{width: 160px; padding-bottom: 20px;}
    div#companyInfo p{font-size: 14px; line-height: 25px;}

    /* 바로가기 */
    div#fast{padding: 0 4%; width:38%; height:auto;}

    div#fast>div{margin-bottom: 10px;}

    p.footerTitle{
        display: block; color: #f37021; 
        padding: 20px 0px; font-size: 16px; 
        font-weight: bold;
    }
    div#fast div ul li a{
        color: #333333; font-size: 14px; line-height: 25px;
    }

    /* connect */
    div#connect{
        width:24%; height: auto;
    }  

    div#connect ul li{
        width: 115px; display: inline-block;
        padding: 0 0 16px 0; font-size: 14px;
        line-height: 10px;
        }
    div#connect ul li a{color: #333333;}

    div#connect ul li a .fab{font-size: 18px; padding-right:5px; color: #333;}

    div#connect select{
        display: block;
        width: 160px; height: 35px; 
        margin-bottom: 5px;
    }

    div#bottomText{
        display: none;
    }

}


/* --------------------------모바일 버젼 ----------------------------*/

@media screen and (max-width:859px){

    /* header */
    div#firstTop{
        position: sticky; z-index: 99;
        top: 0;
        background-color: white;
        width: 100%; height:45px; 
        margin: 0 auto; text-align: right;
        border-bottom: 1px solid rgb(207, 207, 207);
    }

    div#firstTop a{font-size: 0;}
    img#joinlogo{width:30px;padding: 6px;}
    nav div ul li.menuTitle{display: none;}
   
   nav div li#menubar img{
        position: absolute;
        left: 0; top:-46px;
        width:20px; padding: 13px;
        border-right: 1px solid rgb(207, 207, 207);
    }

    nav div li h1 img{
        width:155px;
        position: absolute; top: -41px; left: 50%; 
        transform: translate(-50%);        
    }
    
    nav{
        position: sticky; top: 46px;
        background-color: white;
        z-index: 99;
        width:100%; height:45px;  
        border-bottom: 1px solid rgb(207, 207, 207);
    }

    /* 메뉴바 */
    ul.sub{display: none;}
    nav ul li.bottomMenu{ 
        line-height: 45px;
        display: inline-block;
        width: 48%; text-align: center;       
    
    }

    nav ul li:nth-child(4){border-left: 1px solid rgb(207, 207, 207);}

    nav ul li a h2{color: #333; font-size: 17px;}

    nav #sponsorButton{display: none;}

   





    /* -----------------------footer------------------------  */
    footer{
        width: 100%; height: auto; 
    } 
    /* info */
    div#bottom div p{display: none; }
    div#bottom div p#infoTop{
        font-size: 14px; color: rgb(160, 158, 158);
        display: block; text-align: center;
        padding: 40px;
        border-top: 1px solid rgb(207, 207, 207);
        border-bottom: 1px solid rgb(207, 207, 207);
    }
    div#companyInfo img{display: none;}
    div#fast{display:none;}


    /* connect */ 
    div#connect ul{text-align: center; padding:50px 0; }
    div#connect ul li{
        display: inline-block;
        text-align: center; margin-right: 5%;
    }
    div#connect ul li:last-child{margin-right: 0;}
    div#connect ul li a{font-size: 0;}
    div#connect ul li .fab{font-size: 30px; color: rgb(160, 158, 158);}
    div#connect select{ display: none;}

    div#bottomText{
        text-align: center; font-size: 14px;
        color: rgb(160, 158, 158);
        margin-bottom: 50px;
    }
    div#bottomText a{color: rgb(160, 158, 158);}
    
}